<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>チーズAPIだよ</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include('./header'); %>
    <%- include('./error_messages'); %>

    <% if(isAuth) { %>

        <section class="section">
            <div class="container">

                <form class="box">
                    <h2 class="title is-2">チーズの追加</h2>
                    <div scope="cheese">
                        <div class="block">
                            <input id="name" class="input" required type="text" name="name" placeholder="チーズの名前を入れてね"/>
                        </div>
                        <div class="block">
                            <input id="country" class="input" required type="text" name="country" placeholder="チーズの原産国を入れてね"/>
                        </div>
                        <div class="block">
                            <input id="variety" class="input" required type="text" name="variety" placeholder="チーズの種類を入れてね"/>
                        </div>
                        <div class="block">
                            <input id="submit" type="submit" value="追加" class="button is-primary"/>
                        </div>
    
                    </div>
                </form>
        
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="box">

                    <h2 class="title is-2">チーズ名鑑</h2>

                    <table class="table is-striped is-fullwidth">
                        <thead>
                            <tr>
                                <th>チーズ No.</th>
                                <th>チーズの名前</th>
                                <th>原産国</th>
                                <th>チーズの種類</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let cheese of cheeses){ %>
                                <tr>
                                    <td><span><%= cheese.id %></span></td>
                                    <td><span><%= cheese.name %></span></td>
                                    <td><span><%= cheese.country %></span></td>
                                    <td><span><%= cheese.variety %></span></td>
                                </tr>
                            <% } %>
                        </tbody>

                    </table>
                </div>
            </div>
        </section>
    <% } else { %>
        <section class="section">
            <div class="container">
                <h1 class="title is-1">Welcome to the World of Cheese</h1>
            </div>
        </section>
    <% } %>


    <script>
    $("input#submit").click(function() {

        const button = $(this);
        button.attr("disabled", true);

        const data = {
            name: $("#name").val(),
            country: $("#country").val(),
            variety: $("#variety").val()
        };
        console.log(data);


        $.ajax({
            type:"post",
            url:"/",
            data:JSON.stringify(data),
            contentType: 'application/json',
            dataType: "text",
            success: function(json_data) {
                // JSON Arrayの先頭が成功フラグ、失敗の場合2番目がエラーメッセージ
                if (!json_data[0]) {    // サーバが失敗を返した場合
                    alert("Transaction error. " + json_data[1]);
                    return;
                }
                // 成功時処理
                location.reload();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus);
                alert("Server Error. Please try again later.");
            },
            complete: function() {      // 成功・失敗に関わらず通信が終了した際の処理
                button.attr("disabled", false);  // ボタンを再び enableにする
                location.reload();
            }
        });
    });

    </script>
</body>
</html>